$red: #F65A44;
$white: #FFFFFF;
$black: #222222;
$gray: #6D787C;
$light: #F3F5F8;

$textColor: #000000;


$containerLength: 144rem;
$gap: 2.5rem;

$md: 600px;
$xl: 1440px;


$size1: 1.6rem;
$size2: 2.4rem;
$size3: 3.2rem;
$size4: 4.8rem;
$size5: 8rem;